html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --main-text-color: #212121;
    --main-2-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --bg-hd-ft-color: #2F303A;
    --bg-accent-color: #F5F4FA;
    --icon-cl: #AFB1B8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {text-decoration: none;}
ul {list-style: none;}
button {border: none;}

body {
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--white-color)
}

.no-scroll {
    overflow: hidden;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.header.container {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon {
    color: var(--icon-cl);
}

/* ! HEADER ! */

.header {
    border-bottom: 1px solid #ECECEC;
}

.contact-item:not(:last-child) {
    margin-right: 50px;
}

.contact-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-link {
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-2-text-color);
}

.contact-link.header-link:hover .header-icon,
.contact-link.header-link:focus .header-icon {
    fill: var(--accent-color);

    
}

.header-icon {
    margin-right: 10px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* LOGO */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-color)
}

.header-logo-link {
    padding: 24px 0;
    margin-right: 93px;
}

.footer-logo-link {
    display: inline-block;
    margin-bottom: 20px;
}

.logo .span-h {
    color: var(--main-text-color);
}

.logo .span-f {
    color: var(--white-color);
}

/* NAV */

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-list {
    display: flex;
    padding: 0;
}

.nav-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding: 32px 0;
}

/* HOVER AND FOCUS IN HEADER */

.header .site-nav .nav-link:hover,
.header .site-nav .nav-link:focus {
    color: var(--accent-color)
}

.header .contact-link:hover,
.header .contact-link:focus {
    color:var(--accent-color)
}

/* CURRENT <a> IN HEADER */
.nav-link.header-link.current {
    position: relative;
    color: var(--accent-color);
}

.nav-link.header-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    display: inline-block;

    background-color: var(--accent-color);
    border-radius: 4px;
}

/* INDEX-MAIN */

/* SECTION-1 */

.hero.section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-color: var(--bg-hd-ft-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Stydio/Hero/bg-Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-hero {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
}

.button-hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    border-radius: 4px;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 32px;
}

/* MODAL-WINDOW */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    z-index: 1;

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity 250ms, visibility 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-btn {
    position: absolute;
    box-sizing: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;

    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: var(--accent-color);
}

.modal-form {
    padding: 40px;
}

.modal-field {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.modal-field-input {
    display: block;
    width: 100%;
    height: 40px;

    padding-left: 42px;
    padding-right: 5px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:focus-within {
    fill: var(--accent-color);
    
}

.modal-field:focus-within .modal-field-input {
    border-color: var(--accent-color);
}

.modal-label-content {
    display: block;

    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: var(--main-2-text-color);
}

.modal-invocation {
    display: block;

    margin-bottom: 12px;

    width: 448px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
}

.modal-field-textarea {
    display: block;
    margin-bottom: 20px;
}

.modal-field-textarea span {
    display: block;
}

.modal-field-textarea textarea {
    display: block;
    resize: none;

    width: 100%;
    height: 120px;

    padding: 12px 16px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    cursor: pointer;
}

textarea:focus {
    border-color: var(--accent-color);
}

.modal-field-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    user-select: none;
}

.modal-checkbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    margin-right: 3px;
}

.modal-checkbox-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: var(--accent-color);
}

.modal-btn-send {
    display: block;
    
    margin-left: auto;
    margin-right: auto;

    padding: 0;

    width: 200px;
    height: 50px;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}

.modal-btn-send span {
    display: block;

    padding: 10px 55px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    
    color: var(--white-color);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* MODAL-ICON */

.modal-input-icon {
    position: absolute;
    bottom: 35%;
    left: 14px;
    transform: translateY(50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon:focus {
    fill: var(--accent-color);
}

.modal-checkbox-icon {
    width: 16px;
    height: 15px;
    margin-right: 7px;

    outline: 2px solid var(--main-text-color);
    outline-offset: -2px;
    border-radius: 2px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-checkbox:checked + .modal-checkbox-icon {
    background-color: var(--accent-color);
    outline-color: var(--accent-color);
}

.checkbox-icon {
    fill: var(--white-color);
}


/* SECTION-2 */

.title-benefit {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
}

.text-benefit {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-2-text-color);
}

.benefits-list {
    display: flex;
}

.benefit-item {
    max-width: 270px;
}

.benefit-item:not(:last-child) {
    margin-right: 30px;
}

.icon-wrapping {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bg-accent-color);
    border-radius: 4px;
}

.benefit-icon {
    display: inline-block;
}

/* SECTION-3 */

.section.portfolio {
    padding-top: 0;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.portfolio-list {
    display: flex;
}

.portfolio-item:not(:last-child) {
    margin-right: 30px;
}

.portfolio-overlay {
    position: relative;
}

.portfolio-desc {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    text-transform: uppercase;

    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
}

/* SECTION-4 */

.section-team {
    background-color: var(--bg-accent-color);
}

.team-list {
    display: flex;
}

.team-card {
    background-color: var(--white-color);;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child) {
    margin-right: 30px;
}

.card-tumb {
    padding: 30px 0;
}

.title-card {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.text-card {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--main-2-text-color);
}

/* team social icons */

.team-card-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-list-icon {
    margin-right: 10px;
}

.team-list-icon:nth-of-type(4n) {
    margin: 0;
}

.team-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 50%;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.team-icon {
    fill: currentColor;
}

/* SECTION-5 */

.customers-list {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.customer-item:not(:last-child) {
    margin-right: 30px;
}

.customer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    Width: 170px;
    Height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
    border-color: var(--accent-color);
}

.customer-icon {
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover .customer-icon.icon,
.customer-link:focus .customer-icon.icon {
    fill: var(--accent-color);
}

/* PORTFOLIO-MAIN */
                                                              
/* FILTERS */

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    color: var(--main-text-color);
    background: var(--bg-accent-color);
    border-radius: 4px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn.active {
    color: var(--white-color);
    background-color: var(--accent-color);
}

/* PROJECTS */

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 60px) / 3);
}

.project-link {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:nth-of-type(3n) {
    margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.card-content {
    padding: 20px 24px;
    border-right: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-left: 1px solid rgba(238, 238, 238, 1);
}

.title-project {
    margin-bottom: 4px;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--main-text-color);
}

.text-project {
        font-size: 16px;
        line-height: 1.87;
        color: var(--main-2-text-color);
}

.project-img {
    position: relative;

    overflow: hidden;
}

.project-overlay {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    background-color: rgba(33, 150, 243, 0.9);;
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
    transform: translateY(0);
}

.project-desc {
    width: 322px;
    height: 168px;
    font-size: 18px;
    line-height: 1.55;

    color: var(--white-color);
}

/* ! FOOTER ! */

.footer {
    padding: 60px 0;
    background-color: var(--bg-hd-ft-color);
}

.footer.container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0 15px;
}

.footer-address {
    margin-right: 70px;
}

.footer-link-gps {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-color)
}

.footer-link {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-list {
    max-height: 21px;
}

.footer-address-list:not(:last-child) {
    margin-bottom: 9px;
}

.address .footer-link:hover,
.address .footer-link:focus {
    color:var(--accent-color)
}

.address .footer-link:hover,
.address .footer-link:focus {
    color:var(--accent-color)
}

.address {
    font-style: normal;
}

/* footer social icons */

.footer-social {
    margin-right: 93px;
}

.invocation {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-card-icons {
    display: flex;
    padding: 0;
}

.footer-list-icon {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.footer-list-icon:nth-of-type(4n) {
    margin: 0;
}

.footer-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 12px;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: var(--accent-color);
}

.footer-icon {
    fill: currentColor;
}

/* FOOTER-EMAIL */

.footer-email {
    width: 570px;
}

.footer-field {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-label {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.footer-field input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer-input {
    padding: 0;
    padding-left: 16px;

    letter-spacing: 0.03em;

    width: 358px;
    height: 50px;

    color: var(--white-color);
    background-color: var(--bg-hd-ft-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    cursor: pointer;
}



.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    width: 200px;
    height: 50px;

    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}

.footer-button-text {
    display: inline-block;

    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin-right: 12px;

    color: var(--white-color);
}

.footer-icon-email.icon {
    fill: var(--white-color);
}